{% load static %}

<footer class="ct-footer text-center-sm text-center-xs">
            <div class="container">
                <div class="row ct-u-paddingBottom40">
                    <div class="col-md-4 col-sm-6">
                        <div class="ct-footer-header">
                            About Us
                        </div>
                        <ul class="ct-footer-list list-unstyled">
                            <li>
                                <a href="{% url 'eula' %}">Eula</a>
                            </li>
                            <li>
                                <a href="{% url 'tc' %}">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="ct-footer-header">
                            Support
                        </div>
                            <ul class="ct-footer-list list-unstyled">
                                <li>
                                <a href="https://docs.google.com/forms/d/1oiJ5zWVSDZVQj_deGu6swC-VLVJn4qvOU2oR2N62iF4/edit">Contact Us</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="ct-post_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-center ct-u-paddingTop10">
                            <p>
                                © 2020 Enviosity. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>