  {% extends 'pages/homefooter.html' %}

  {% block content %}

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2"></div>
            <div class="col-md-auto">
                <h1 class="pt-5">Photo Enviosity</h1>
                <h5 class="pt-2">Try out Photo Editor today!</h5>
                <a class="btn btn-outline-secondary mt-2" href="http://localhost:4200/">Click here to start</a>
            </div>
            <div class="col col-lg-2"></div>
        </div>
    </div>

  {% endblock %}